@inject I18nText trasnlator;
@inject UserSession sesion;
@inject UserInformationResult userInfo;
@inject NavigationManager _navigator;
<section class="menu-inicio">
    <div>
        <HeaderPagina 
                      UserName="@userInfo.UserName"
                      UserImage="@userInfo.UserImage"
                      IsValidSession="@sesion.IsActive"
                      CerrarSesionClick="_cerrarSesionClick"></HeaderPagina>
    </div>
    <div class="divContainerBoton">
        <div class="containerText">
            <h1 class="bienvenida">@_txtPage.MsWelcon</h1>
            <p class="descripcionSystem">
                @_txtPage.MsDescription
            </p>
        </div>
        <div>
            <BotonProyectos Texto="@_txtPage.Consult" Publicar="false"></BotonProyectos>
            <BotonProyectos Texto="@_txtPage.Post" Publicar="true"></BotonProyectos>
        </div>
    </div>
</section>

@code {
    TextIndexPage _txtPage = new TextIndexPage();
    protected override async Task OnInitializedAsync()
    {
        _txtPage = await trasnlator.GetTextTableAsync<TextIndexPage>(this);
    }
    private void _cerrarSesionClick()
    {
        sesion.IsActive = false;
        sesion.PassChanged = null;
        sesion.LastEntry = DateTime.Now;
        _navigator.NavigateTo("/");
    }
}
