@inject Lector lectura;
@inject I18nText trasnlator;
<section class="card-project">
    <h3 class="h6Font">@_txtPage.PupularCategory</h3>
    <div class="carteraCategorias">
        <CardPopulares Imagen="construccion.jpg"
                       Titulo="@_txtCategorias.Commerce"></CardPopulares>
        <CardPopulares Imagen="Libreria.jpg"
                       Titulo="@_txtCategorias.Libraries"></CardPopulares>
        <CardPopulares Imagen="educacion.jpg"
                       Titulo="@_txtCategorias.Education"></CardPopulares>
        <CardPopulares Imagen="Tiendas.jpg"
                       Titulo="@_txtCategorias.Shop"></CardPopulares>
    </div>
</section>

@code {
    TextIndexPage _txtPage = new TextIndexPage();
    TextCategoriasIndex _txtCategorias = new TextCategoriasIndex();
    protected override async Task OnInitializedAsync()
    {

        _txtPage = await trasnlator.GetTextTableAsync<TextIndexPage>(this);
        _txtCategorias = await trasnlator.GetTextTableAsync<TextCategoriasIndex>(this);
    }
}
