@inject UserSession _session;
@inject NavigationManager _navigator;
@inject IJSRuntime JsRun;

<section class="cardAppInfo">
    <p class="tituloInfo">@TituloInformacion</p>
    <span>
        <img src="/images/img_proyect/@ImagePage" height="75" width="75" />
    </span>
    <div class="informacion-Proyecto">
        <p>@DescripcionCard</p>
    </div>
    <div>
        <p class="sugerencias" @onclick="_RedirectUser">@SubTitulo</p>
    </div>
    <div class="borderDiv">
        <span style="margin-top:10px">
            <label class="linksEstile" @onclick="@(()=>Click.InvokeAsync(true))">@TextoLink</label>
        </span>
    </div>
</section>
@if (_inicarSesion)
{
    <ModalLogin CerrarModal="_cerrarModal"></ModalLogin>
}

@code {
    [Parameter]
    public string TituloInformacion { get; set; }
    [Parameter]
    public string ImagePage { get; set; }
    [Parameter]
    public string DescripcionCard { get; set; }
    [Parameter]
    public string SubTitulo { get; set; }
    [Parameter]
    public string TextoLink { get; set; }
    [Parameter]
    public EventCallback<bool> Click { get; set; }
    [Parameter]
    public bool Redirect { get; set; }

    private bool _inicarSesion = false;

    private async Task _RedirectUser()
    {
        if (_session.IsActive && Redirect)
            _navigator.NavigateTo("/PublicarProyecto");
        else
        {
            if (!Redirect)
                _navigator.NavigateTo("/Nosotros");
            else
            {
                await JsRun.DeshabilitarScroll(true);
                _inicarSesion = true;
            }
        }
    }
    private async Task _cerrarModal()
    {
        await JsRun.InvokeVoidAsync(identifier: "salirMenu.HabilitarScroll");
        _inicarSesion = false;
    }
}
