<section class="ViewProjectFirst">
    <SliderImage
                 Images="@_images"></SliderImage>
    <div class="containerDetails">
        <div class="contenedorDetalles">
            <p class="TituloProyecto">@_projectCard.TituloProyecto</p>
            <label class="descripcionProject">
                @_projectCard.Descripcion
            </label>
        </div>
        <div>
            <div class="letterPerson">
                <img class="namePerson" src="@_projectCard.ImagenUsuario"/>
            </div>
            <div>
                <p>@_projectCard.NombreUsuario</p>
            </div>
        </div>
        <div class="containerLinks">
            <p><a href="#" class="colorA">Descargar proyecto</a></p>
            <p><a href="#" class="colorA">Información de contacto</a></p>
        </div>
    </div>
</section>

@code {
    [CascadingParameter]
    public ProjectInformation ProjectInfo { get; set; }

    private ProjectCard _projectCard = new ProjectCard();
    private List<string> _images = new List<string>();

    protected override void OnParametersSet()
    {
        _images = ProjectInfo.ImagesProject;
        _projectCard = ProjectInfo.ProjectCardInfo;
    }
}
