<section class="ViewProjectFirst">
    <SliderImage
                 Images="@ProjectInfo.ImagesProject">
    </SliderImage>
    <div class="containerDetails">
        <div class="contenedorDetalles">
            <p class="TituloProyecto">@_projectCard.TituloProyecto</p>
            <label class="descripcionProject">
                @_descriptionProject
            </label>
        </div>
        <div>
            <div class="letterPerson">
                @if (_projectCard.ImagenUsuario != null)
                 {
                    @if (_projectCard.ImagenUsuario.Contains("base64"))
                    {
                        <img class="namePerson" src="@_projectCard.ImagenUsuario" />
                    }
                    else
                    {
                        <label class="lbTextPerson">@_projectCard.ImagenUsuario</label>
                    }
                 }
            </div>
            <div>
                <p>@_projectCard.NombreUsuario</p>
            </div>
        </div>
        <div class="ContainerTecnologias">
            <p>Tecnologias Utilizadas en el proyecto formativo</p>

            @if (ProjectInfo.TechnologiesUsed != null)
            {
                @foreach (var item in ProjectInfo.TechnologiesUsed[0])
                 {
                    <div class="circleTech">
                        <img src="/images/Tecnologias/Front/@($"{item}.svg")" class="imageTechSize"/>
                    </div>
                 }
                @foreach (var item in ProjectInfo.TechnologiesUsed[1])
                 {
                    <div class="circleTech">
                        <img src="/images/Tecnologias/Back/@($"{item}.svg")" class="imageTechSize"/>
                    </div>
                 }
            }
        </div>
        <div class="containerLinks">
            <p><a href="#" class="colorA">Descargar proyecto</a></p>
            <p><a href="#" class="colorA">Información de contacto</a></p>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public ProjectInformation ProjectInfo { get; set; }

    private ProjectCard _projectCard = new ProjectCard();
    private string _descriptionProject = "";

    protected override void OnParametersSet()
    {
        _projectCard = ProjectInfo.ProjectCardInfo;
        int longitud = (_projectCard.Descripcion != null) ?_projectCard.Descripcion.Length : 0;
        if (longitud >= 350)
            _descriptionProject = $"{_projectCard.Descripcion.Remove(349)} .....";
        else
            _descriptionProject = _projectCard.Descripcion;
    }
}
