<div class="BorderStyleCategoria @NameClassCategoria">
    <div class="tituloCheck">
        <p class="contenedorTitulo">@NombreTitulo</p>
        <span>
            <img src="@ImageSource" style="opacity:0.3" height="20" width="20" />
        </span>
    </div>
    <div>
        <span>
            <img class="opacidadImgCategoria" src="@UrlImage" height="35" width="35" />
        </span>
        <div class="@Silueta">
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string NombreTitulo { get; set; }
    [Parameter]
    public string UrlImage { get; set; }
    [Parameter]
    public int IndexCategoria { get; set; }
    private string ImageSource = "/images/IconosCategorias/tick.svg";
    private string NameClassCategoria = "colorCategoriaUnSelect";
    private string Silueta = "siluetaSinColor";

    protected override void OnInitialized()
    {
        if (IndexCategoria == 1)
        {
            ImageSource = "/images/IconosCategorias/IconosColor/tick.svg";
            NameClassCategoria = "colorCategoriaSelect";
            Silueta = "siluetaColor";
        }
        base.OnInitialized();
    }
}
