@page "/Administrador";
@inject UserInformationResult UserInfoResult;
@inject I18nText serviceTranslator;
<SystemHeader UserImage="@UserInfoResult.UserImage"
              UserName="@UserInfoResult.UserName">
</SystemHeader>
<section class="adminPosition">
    <div class="opcionesAdmin">
        <div class="setEstilos">
            <TarjetaOpcionesAdmin NombreTitulo="@_txtAdmin.OptionsAdmin"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion="@_txtAdmin.Options"
                                  NumeroEntrada="0">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="@_txtAdmin.UserText"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion="@_txtAdmin.CheckUsers"
                                  NumeroEntrada="1">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="@_txtAdmin.ProjectAndRequest"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion="@_txtAdmin.CheckProjects"
                                  NumeroEntrada="2">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="@_txtAdmin.Statistics"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion="@_txtAdmin.CheckStatistics"
                                  NumeroEntrada="3">
            </TarjetaOpcionesAdmin>
        </div>
        <section>
            @switch (IndicadorPage)
            {
                case 0:
                    <SectionEstadisticas></SectionEstadisticas>
                    break;
                case 1:
                    <TarjetaUsuariosRegistrados></TarjetaUsuariosRegistrados>
                    break;
                case 2:
                    <TarjetaProyectosPublicadosAdmin></TarjetaProyectosPublicadosAdmin>
                    break;
                case 3:
                    <EstadisticasPlataforma></EstadisticasPlataforma>
                    break;
                case 4:
                    <FormularioSolicitud SendRequest="(int result)=> IndicadorPage = result"></FormularioSolicitud>
                    break;
                case 5:
                    <ListaSolicitudes></ListaSolicitudes>
                    break;
            }
        </section>
    </div>
    <div class="UsuAdmin">
        <InformacionUsuario UserName="@UserInfoResult.UserName"></InformacionUsuario>
    </div>
    <div class="ayudaAdmin">
        <AyudaAdmin OnClick="ClickHandler"></AyudaAdmin>
    </div>
</section>
<FooterContacto></FooterContacto>

@code {
    private int IndicadorPage = 0;
    private void ClickHandler(int paramSalida)
    {
        IndicadorPage = paramSalida;
    }

    TextAdminPage _txtAdmin = new TextAdminPage();
    protected override async Task OnInitializedAsync()
    {
        _txtAdmin = await serviceTranslator.GetTextTableAsync<TextAdminPage>(this);
    }
}
