@page "/Administrador";
@inject UserInformationResult UserInfoResult;
<HeaderApp UserImage="@UserInfoResult.UserImage"
           UserName="@UserInfoResult.UserName"></HeaderApp>
<section class="adminPosition">
    <div class="opcionesAdmin">
        <div class="setEstilos">
            <TarjetaOpcionesAdmin NombreTitulo="Opciones Administrador"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion = "Opciones generales del administrador"
                                  NumeroEntrada="0">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="Usuarios"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion = "Consultar los usuarios registrados en la plataforma"
                                  NumeroEntrada="1">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="Proyectos y Solicitudes"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion = "Consultar los proyectos y alojados en la plataforma"
                                  NumeroEntrada="2">
            </TarjetaOpcionesAdmin>

            <TarjetaOpcionesAdmin NombreTitulo="Estadisticas"
                                  OnClick="ClickHandler"
                                  MensajeDescripcion = "Estadisticas de los proyectos y usuarios de la aplicación"
                                  NumeroEntrada="3">
            </TarjetaOpcionesAdmin>
        </div>
        <section>
            @switch (IndicadorPage)
            {
                case 0:
                    <TarjetaUsuariosRegistrados></TarjetaUsuariosRegistrados>
                    break;
                case 1:
                    <p>Primera pagina: @IndicadorPage</p>
                    break;
                case 2:
                    <p>segunda pagina: @IndicadorPage</p>
                    break;
                case 3:
                    <EstadisticasPlataforma></EstadisticasPlataforma>
                    break;
            }
        </section>
    </div>
    <div class="UsuAdmin">
        <InformacionUsuario
                            UserName="@UserInfoResult.UserName"></InformacionUsuario>
    </div>
    <div class="ayudaAdmin">
        <InformacionAyuda></InformacionAyuda>
    </div>
</section>

@code {
    private int IndicadorPage = 0;
    private void ClickHandler(int paramSalida)
    {
        IndicadorPage = paramSalida;
    }
}
