@page  "/Nosotros";
<<<<<<< HEAD
@inject NavigationManager NavigationManager;
@inject I18nText serviceTranslator;
<HeaderUser></HeaderUser>
=======
>>>>>>> proyectoGeneral
<div class="contenedorNosotros">
    <div class="aboutSystem">
        <span>
            <img class="imgLogo" src="/images/S4.png" height="150" width="65" />
        </span>
        <div class="textSystem">
            <p class="tituloSp">SystemSp</p>
            <div class="">
                <p class="parrafoSp">
                   @_txtPageNosotros.textAboutSystem<br /> @_txtPageNosotros.textAboutSystempTwo
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="misionVision">
        <div class="textMision">
            <p class="tituloMision">@_txtPageNosotros.tittleMission</p>
            <div class="">
                <p class="parrafoMision">
                    @_txtPageNosotros.textAboutSystem<br /> @_txtPageNosotros.textAboutSystempTwo
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
        <div class="textVision">
            <p class="tituloVision">@_txtPageNosotros.tittleVision</p>
            <div class="">
                <p class="parrafoVision">
                    @_txtPageNosotros.textAboutSystem<br /> @_txtPageNosotros.textAboutSystempTwo
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contQuien">
        <h1 class="quienSomos">@_txtPageNosotros.tittleAbout</h1>
        <p class="parrafoQuien">
            @_txtPageNosotros.textAboutUs
            <br />@_txtPageNosotros.textAboutUsTwo
        </p>
    </div>

    <div class="contenedorPersons">
        <div class="persons">
            <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                                Descripcion="@($"{_txtPageNosotros.cardPerson} full-stack")">
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Michael Parra"
                                Descripcion="@($"{_txtPageNosotros.cardPerson} Front-End Y Back-End")">
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Diego Martinez"
                                Descripcion=@_txtPageNosotros.cardPersonThree>
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Jhon Murrillo"
                                Descripcion="@_txtPageNosotros.cardPersonTwo">
            </TarjetaIntegrantes>
        </div>
    </div>
</div>
<<<<<<< HEAD
<FooterContactanosSecond></FooterContactanosSecond>
@code {

    TextNosotros _txtPageNosotros = new TextNosotros();
    protected override async Task OnInitializedAsync()
    {
        _txtPageNosotros = await serviceTranslator.GetTextTableAsync<TextNosotros>(this);
    }
}
=======
<FooterContacto></FooterContacto>
@code { }
>>>>>>> proyectoGeneral
