@page "/PublicarProyecto";
@inject IJSRuntime JsRun;
@inherits LayoutComponentBase
@inject I18nText serviceTranslator;
@inject UserInformationResult UserInfoResult;
<header>
    <HeaderApp></HeaderApp>
</header>
<section class="elements-body">
    <div class="div-usuario">
        <InformacionUsuario UserName="@UserInfoResult.UserName"></InformacionUsuario>
    </div>
    <aside class="info-ayuda">
        <InformacionAyuda></InformacionAyuda>
    </aside>
    <section class="bodyPage">
        <div class="sec-opciones">
            <OpcionesProyecto OnClickOpcion="getProcess"
                              NumeroOpcion="tipoOpcion"
                              NovedadClassName="@_novedadClassName"
                              PublicarClassName="@_publicarClassName"></OpcionesProyecto>
        </div>
        <CascadingValue Value="ProjectApp">
            <CascadingValue Value="IdUsuarioAplicacion">
                <div class="setPage">
                    @switch (tipoOpcion)
                     {
                        case 0:
                            <div>
                                <InformacionContacto UserEmail="@UserInfoResult.UserEmail"
                                                     UserTelephone="@UserInfoResult.UserTelephone">
                                </InformacionContacto>
                                <FormularioAprendiz ProcessSuccess="getProcess"></FormularioAprendiz>
                            </div>
                            <div class="setOptions">
                                <div>

                                    <TarjetaAyudaUsuario Imagen="ToolSoftware.svg"
                                                         MensajeCard1="@_textPublicar.Guide1"
                                                         MensajeCard2="@_textPublicar.Guide2"
                                                         SubTitulo="@_textPublicar.ClickHere">
                                    </TarjetaAyudaUsuario>
                                    <TarjetaAyudaUsuario Imagen="project.svg"
                                                         MensajeCard1="@_textPublicar.SeeFeatured1"
                                                         MensajeCard2="@_textPublicar.SeeFeatured2"
                                                         SubTitulo="@_textPublicar.SeeMore">
                                    </TarjetaAyudaUsuario>
                                </div>
                                <section class="borderInformacion">
                                    <div class="infUpdate">
                                        <h3 class="colorNoti">@_textPublicar.ProjectUpdate</h3>
                                        <div class="detallesProyecto">
                                            <span class="nameProyect">
                                                @_textPublicar.SortBy
                                            </span>
                                        </div>
                                    </div>
                                    <TarjetaEditarProyecto TituloTarjeta="@_textPublicar.InfoProject"
                                                           LeadingImage="project.svg"
                                                           TipoTarjeta="info">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="@_textPublicar.Team"
                                                           LeadingImage="team.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="Team">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="@_textPublicar.InterfaceImage"
                                                           LeadingImage="image.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="Images">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="@_textPublicar.ProjectFile"
                                                           LeadingImage="folder.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="file">
                                    </TarjetaEditarProyecto>
                                </section>
                            </div>
                            break;
                        case 1:
                            <NovedadesProyecto></NovedadesProyecto>
                            break;
                     }
                </div>
            </CascadingValue>
        </CascadingValue>
    </section>
</section>
@code {
    [CascadingParameter]
    public int IdUsuarioAplicacion { get; set; }

    [CascadingParameter]
    public FormProjectApp ProjectApp { get; set; }
    = new FormProjectApp()
    {
        ApprenticesData = new List<ApprenticeData>(),
        ImagesDataStream = new List<ImagesData>()
    };

    private string _novedadClassName = "btn-opcion-unluck";
    private string _publicarClassName = "btn-opcion-luck";
    private TextPublicarPage _textPublicar = new TextPublicarPage();
    private int tipoOpcion = 0;
    private void getProcess(int tipo)
    {
        tipoOpcion = tipo;
        if (tipo == 0)
        {
            _novedadClassName = "btn-opcion-unluck";
            _publicarClassName = "btn-opcion-luck";
        }
        else if (tipo == 1)
        {
            _novedadClassName = "btn-opcion-luck";
            _publicarClassName = "btn-opcion-unluck";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        UserInfoResult.OnChange += StateHasChanged;
        IdUsuarioAplicacion = UserInfoResult.UserId;
        _textPublicar = await serviceTranslator.GetTextTableAsync<TextPublicarPage>(this);
    }
}

