@inject IJSRuntime JsRun;
@inject I18nText ServiceTraslator;
@inject ValidarFormularios validaForm;

<section class="info-usuario estilosBordes">
    <div>
        <div class="img-userProyect">
            <span class="opacidadImage">@_letrasInciales</span>
        </div>
        <div class="centerName">
            <label id="lbNombrePersona">@UserName</label>
        </div>
    </div>
    <div class="elementsNoty">
        <ol class="centerOl">
            <li>
                <button class="botonConfiguracion botonUsuario" @onclick="clickBotonConfiguracion"></button>
            </li>
            <li>
                <button class="botonNotificaciones botonUsuario" @onmouseover="botonNotificaciones"></button>
            </li>
        </ol>
    </div>
    <div style="display:@_displayType" class="modalConfiguracion">
        <div class="modalConfiguracionInfo">
            <p>@_textPublicar.UpdateInformacion</p>
            <span>
                <p class="pFont">@_textPublicar.Name</p>
                <input type="text" class="txtEditName" placeholder="@UserName" @bind="_nombreUser" />
            </span>
            <span>
                <p class="pFont">@_textPublicar.NewPassword</p>
                <input type="password" class="txtEditName" @bind="_nuevoPass" />
            </span>
            <span>
                <p class="pFont">@_textPublicar.ConfirmPassword</p>
                <input type="password" class="txtEditName" @bind="_confirmPass" />
            </span>
            <section style="height:100px">
                <p class="pFont">@_textPublicar.ChangedLang</p>
                <SelectorIdioma></SelectorIdioma>
            </section>
            <div>
                <button class="btConfi btCancelar" @onclick='cancelarCambios'>@_textPublicar.Cancel</button>
                <button class="btConfi btGuardar" @onclick="guardarCambios">@_textPublicar.Save</button>
            </div>
        </div>
    </div>
    <div style="display:@_modalNotify" class="modalNotify" @onmouseout="mauseUpNoti">

    </div>
</section>
<AlertaApp TipoAlerta="true" Mensaje="@_textPublicar.MessagePassword"></AlertaApp>

@code {
    //Parametros
    [Parameter]
    public string UserName { get; set; }

    private string _letrasInciales = string.Empty;
    private string _nombreUser = string.Empty;
    private string _displayType = "none";
    private string _modalNotify = "none";
    // passWord
    private string _confirmPass { get; set; }
    private string _nuevoPass { get; set; }
    //metodos Eventos
    TextPublicarPage _textPublicar = new TextPublicarPage();

    protected override async Task OnInitializedAsync()
    {
        string[] letras = UserName.Split(' ');
        _letrasInciales = $"{letras[0][0]} {letras[1][0]}";
        _textPublicar = await ServiceTraslator.GetTextTableAsync<TextPublicarPage>(this);
        base.OnInitialized();
    }
    private async Task guardarCambios()
    {
        string[] letras = UserName.Split(' ');
        if (letras.Length > 0)
            _letrasInciales = $"{letras[0][0]} {letras[1][0]}";
        if (!String.IsNullOrEmpty(_confirmPass) && !String.IsNullOrEmpty(_nuevoPass))
        {
            bool pass = validaForm.ValidaPassEmail(_nuevoPass, _confirmPass);
            if (pass)
            {
                this._displayType = "none";
                await JsRun.HabilitarScroll();
                await JsRun.InvokeVoidAsync(identifier: "alerta.MostrarAlerta");
            }
            else
                await JsRun.EjecutarJavaScriptFunc("seetAlert.SweetMensaje", _textPublicar.MensajeAlertaPass);
        }
        else
        {
            this._displayType = "none";
            await JsRun.HabilitarScroll();
        }
    }
    private async Task cancelarCambios()
    {
        this._displayType = "none";
        await JsRun.HabilitarScroll();
    }
    private async Task clickBotonConfiguracion()
    {
        _displayType = "flex";
        await JsRun.EjecutarJavaScriptFunc("salirMenu.DeshabilitarScrollPage");
    }
    private void botonNotificaciones() => _modalNotify = "flex";
    private void mauseUpNoti() => _modalNotify = "none";
}
