@inject I18nText ServiceTranslator;
<section>
    <ol class="optionsOL">
        <li>
            <button @onclick="@(()=>cambiarOpcion(0))" class="BotonInfoProdyecto @PublicarClassName">@_textPublicar.PublishProject</button>
        </li>
        <li>
            <button @onclick="@(()=>cambiarOpcion(1))" class="BotonInfoProdyecto @NovedadClassName">@_textPublicar.News</button>
        </li>
    </ol>
</section>

@code {
    [Parameter]
    public int NumeroOpcion { get; set; }
    [Parameter]
    public EventCallback<int> OnClickOpcion { get; set; }
    [Parameter]
    public string NovedadClassName { get;set; }
    [Parameter]
    public string PublicarClassName { get; set; }

    TextPublicarPage _textPublicar = new TextPublicarPage();
    private async Task cambiarOpcion(int page)
    {
        if (page == 0)
        {
            NovedadClassName = "btn-opcion-unluck";
            PublicarClassName = "btn-opcion-luck";
        }
        else if (page == 1)
        {
            NovedadClassName = "btn-opcion-luck";
            PublicarClassName = "btn-opcion-unluck";
        }
        await OnClickOpcion.InvokeAsync(page);
    }
    protected override async Task OnInitializedAsync()
    {
        NovedadClassName = "btn-opcion-unluck";
        PublicarClassName = "btn-opcion-luck";
        _textPublicar = await ServiceTranslator.GetTextTableAsync<TextPublicarPage>(this);
    }
}
